@import "tailwindcss";

@layer utilities {
  .bg-camo {
    background-image: url('/camo.webp');
    background-size: cover;
    background-position: center;
  }

  .font-blackops {
    font-family: var(--font-blackops), ui-sans-serif, system-ui, sans-serif;
  }

  .font-russo {
    font-family: var(--font-russo), ui-sans-serif, system-ui, sans-serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url('/noise.png');
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
